@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Montserrat:wght@600;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1e2021;
  color: #f7f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.white {
  color: #f7f9f9;
}
.orange {
  color: #d34e24;
}
.yellow {
  color: #f5b700;
}
.h1-title {
  background-color: #d34e24;
  width: fit-content;
}
/* className="h1-title py-1 px-3" */
/************************* 
  BUTTONS
 *************************/
.btn-light {
  background-color: transparent;
  border: none;
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: transparent;
  border: none;
}
.search-btn {
  width: 50px !important;
}
.placeOrderBtn {
  width: 100% !important;
}
.reviewSubmitBtn {
  width: 50% !important;
  min-width: 300px !important;
}
.closeSearch {
  width: 33px !important;
  border: none !important;
}
.prodListPageBtn {
  width: 50px;
}
.prodListPageBtn,
.closeSearch,
.reviewSubmitBtn,
.placeOrderBtn,
.search-btn,
.addToCartBtn,
.detailsBtn,
.oosBtn {
  width: 110px;
  margin: 0 5px;
  padding: 6px;
  border: 1px solid #f7f9f9;
  border-radius: 20px;
  font-size: 14px;
  color: #f5b700;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 #d34e24;
  background-color: transparent;
}
.prodListPageBtn:hover,
.closeSearch:hover,
.reviewSubmitBtn:hover,
.placeOrderBtn:hover,
.search-btn:hover,
.addToCartBtn:hover,
.detailsBtn:hover {
  color: #f7f9f9;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 750px 0 0 0 #d34e24;
  cursor: pointer;
}
.btn-primary-oos {
  background-color: transparent;
  padding: 12px 30px;
  border: 1px solid #d34e24;
  color: #f5b700;
  border-radius: 100px;
}
.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/************************* 
  CHECK-OUT STEPS
 *************************/
.checkout-steps > div {
  border-bottom: 0.2rem solid #616060;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #d34e24;
  color: #f5b700;
}
/************************* 
  STARS
 *************************/
.rating span {
  color: #d34e24;
}

/* .book {
  border: 1px #404040 solid;
  margin: 1rem;
}
.book img {
  width: 100%;
  max-width: 300px;
  min-height: 500px;
}
.book-info {
  padding: 1rem;
} */
/************************* 
  NAVBAR
 *************************/
.navbar {
  background-color: #335c67;
}
.search-bar {
  border-radius: 100px;
  border: none !important;
  background-color: #f7f9f9 !important;
  color: black !important;
}
.search-btn {
  border-radius: 100px;
}
.socials a {
  margin: 0;
  padding: 15px;
  color: #f7f9f9;
}
.navbar .fa-twitter {
  margin-left: 25px;
}
.socials i:hover,
.nav-link:hover {
  color: #f5b700;
  transition: 0.5s;
}
.navbar-nav .show > .nav-link {
  color: #f5b700;
}
.nav-link {
  color: #f7f9f9;
}
.fa-layers-counter {
  color: #f5b700;
} /************************* 
  DASHBOARD
 *************************/
rect {
  fill: hsl(200, 5%, 52%) !important;
}

/************************* 
  ORDER HISTORY
 *************************/
.table {
  vertical-align: center !important;
}
td {
  color: #f7f9f9;
}
/************************* 
  ORDER PAGE
 *************************/
.alert-danger {
  background-color: #283845;
  border: none;
  color: firebrick;
}
.alert-success {
  background-color: #283845;
  border: none;
  color: green;
}
.orderPageItemName a {
  text-decoration: none;
}
/************************* 
  ORDER REVIEW
 *************************/
.orderReviewCard a {
  text-decoration: none;
}
.orderReviewCard .edit {
  color: #d34e24;
}
.orderReviewCard a {
  text-decoration: none;
}
/************************* 
  SHIPPING INFORMAITON
 *************************/
.form-control {
  background-color: transparent;
  border: 2px solid #283845;
  color: #f7f9f9;
}
.form-control:focus {
  background-color: transparent;
  color: #f7f9f9;
}
.form-control:active {
  color: #f7f9f9;
}
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #1e2021 inset;
  -webkit-text-fill-color: #f7f9f9;
  caret-color: #f7f9f9;
}
/************************* 
  SHOPPING CART
 *************************/
.card {
  background-color: #283845;
  border: none;
}
.alert-info {
  background-color: #283845;
  border: none;
  color: #f7f9f9;
}
.list-group {
  --bs-list-group-bg: #283845;
  --bs-list-group-color: #f7f9f9;
}
.shoppingCartI {
  color: #f7f9f9;
}
.shoppingCartPrice {
  color: #f5b700;
}
/************************* 
  PRODUCT LIST PAGE
 *************************/
.productListPage a {
  color: #f7f9f9;
}
.productListPage > a.btn.text-bold {
  color: #d34e24;
}
/************************* 
  PRODUCT PAGE HOME, PRODUCT.JS
 *************************/
.product-card {
  background-color: #283845;
  padding: 15px 10px 20px 10px;
}
.product-card-img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
}
.product-card-title {
  color: #f5b700;
  text-decoration: none;
}
.product-card-title:hover {
  color: #f7f9f9;
  transition: 0.5s;
}
.product-card-price {
  color: #90fcf9;
}
/************************* 
  PRODUCT PAGE IND
 *************************/

.img-large {
  width: 100%;
  max-width: 540px;
  min-height: 400px;
}
.form-floating > .form-control {
  height: 100px;
}
.form-select {
  background-color: #283845;
  color: #f7f9f9;
}
/************************* 
  CART IMG
 *************************/
.img-thumbnail {
  height: 80px;
}
/************************* 
  SEARCH PAGE
 *************************/
.searchPageQuery a {
  text-decoration: none;
  color: #f7f9f9;
}
.searchPageQuery .text-bold {
  color: #d34e24;
}
.searchPageRatings .rating span {
  color: #f5b700;
}
.searchPageRatingsBold span {
  color: #d34e24 !important;
}
/************************* 
  SIGN IN PAGE
 *************************/
.small-container {
  max-width: 600px;
}

/************************* 
  SIDEBAR
 *************************/
.side-navbar {
  width: 220px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #223d44;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 220px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
/************************* 
  FOOTER
 *************************/

.card-group,
footer {
  background-color: #335c67;
}
.footer-card {
  background-color: transparent;
}
.colored,
footer i {
  color: #f5b700;
}
footer a {
  text-decoration: none;
  color: #f7f9f9;
}
footer a:hover {
  color: #f5b700;
}
footer li {
  line-height: 2;
}
/* .footer-socials {
  margin-left: 3rem;
} */
